
main{
  padding: 12px;
}

.albums{
  background-color: #ffffff;

  border: 1px solid rgba(0, 0, 0, 0.25);
                  
  border-radius: 4px;
}
.albums{
  margin-bottom: 16px;
}
.header{
  display: flex;
  padding: 16px;
}
.description{
  margin-left: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.description h2{
  font-size: 28px;
}
.description p{
  color: rgba(0, 0, 0, 0.45);
  font-style: italic;
  font-size: 18px;
}
.list{
  padding: 16px;
}
.list li{
  padding: 8px;
  color: rgba(0, 0, 0, 0.65);
}
.selected{
  background: rgba(0, 0, 0, 0.15);
}